/************************************/
/*              HERO 
*************************************/

 .hero {
   background-color: $color-primary;
   height: 90vh;
   width: 100%;
   padding: 15rem 0;
   &--2 {
    background-color: white!important;
    height: 140vh!important;
  }

   @include respond(phone-medium) {
    padding: 12rem 0 0 0;
    }
   @include respond(phone-large) {
    height: 80vh;
    }

   &__text {
     & > p:first-child {
       display: inline-block;
       margin-bottom: 1.5rem;
     }
   }

   &__buttons {
     margin-top: 3rem;

     & > a:first-child {
       margin-right: 2.5rem;
     }
   }
  
 }


/************************************/
/*              SUMMARY
*************************************/

.summary {
  border: 1px solid $color-primary;
  background-color: $color-secondary-light;
  margin-top: -10rem;
  position: relative;
  display: flex;
  width: 85%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  clear: none;
  align-items: center;

  @include respond(phone-large) {
    width: 100vw;
    border: none;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 1px solid $color-primary;
    flex-direction: column;
  }

  &__leftside {
    width: 50%;
    height: auto;
    margin-top: 0%;
    float: left;

    @include respond(phone-large) {
      width: 100%;
      margin-bottom: 6rem;
    }

  }

  &__leftside-content {
    display: block;
    width: 90%;
    height: auto;
    margin-left: 10%;
    margin-right: auto;
    padding-right: 15%;
    float: left;
    color: $color-primary;
    
  }

  &__heading {
    margin-bottom: 20px;
    float: left;
    font-family: 'Prompt', sans-serif;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 1px;
    @include respond(phone-medium) {
      font-size: 3.7rem;
    }
  }

  &__text {
    font-family: 'Objectivity Light', sans-serif;
    float: left;
    font-size: 1.8rem;
    line-height: 30px;
    font-weight: 300;
    @include respond(phone-large) {
      line-height: 3.6rem;
    }
    @include respond(phone-medium) {
      font-size: 2.2rem;
    }
  }

  &__button {
    margin-top: 2rem;
    float: left;
  }

  &__rightside {
    height: 100%;
    float:left;
    width: 50%;

    @include respond(phone-large) {
      width: 100%;
    }

  }

  &__icon {
    font-size: 20rem;
    color: $color-primary;
    position: absolute;
    top: 30%;
    left: 14%;
  }

  &__img {
    display: block;
    width: 76.5%;  
    height: 60%;
    margin: 0 auto;
    @include respond(smaller-desktop) {
      width: 80%;
    }

   @include respond(tab-smaller) {
      width: 86%;
    }

   @include respond(tab-port-smaller) {
      width:47%;
    }

   @include respond(phone-large) {
    width: 75vw;
    }
  }

}

/************************************/
/*            PORTFOLIO
*************************************/

//For the animation
// @keyframes fade-in {
//   from {opacity: 0; transform: scale(.7,.7)}
//   to {opacity: 1;}
// }


.portfolio {
  padding: 20rem 0;
  position: relative;
  // animation: fade-in 1.4s;

  // -webkit-transition: opacity 8s ease-in;
  // -moz-transition: opacity 8s ease-in;
  // -ms-transition: opacity 8s ease-in;
  // -o-transition: opacity 8s ease-in;
  // transition: opacity 8s ease-in;
  
  @include respond(phone-large) {
    padding: 7rem 0;;
  }


  &__background {
    color: $color-secondary-super-light;
    font-size: 185rem;
    line-height: 1px;
    position: absolute;
    right: 0rem;
    top: 50rem;
    font-size: 'Objectivity Bold', sans-serif;
    font-weight: bold;
    z-index: -10;
  }

  &__heading-container {
    width: 100%;
    height: auto;
    padding-bottom: 10rem;
  }

  &__heading {
    display: block;
    width: 100%;
    margin: 0vh auto 0px 0%;
  }

  &__lists {
    width: 100%;
    height: auto;
  }

  &__list {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;

    @include respond(little-desktop) {
      padding: 10rem 15rem!important;
    }
    
    @include respond(tab-port) {
      padding: 7rem 10rem!important;
    }

    @include respond(phone-large) {
      flex-direction: column;
      padding: 0 !important;
    }

    &--1 {
      padding: 10rem 20rem;
      justify-content: space-between;
      
    }

    &--2 {
      padding: 10rem 20rem;
      justify-content: space-between;
    }

    &--3 {
      padding-top: 10rem; 
      justify-content: space-around;
    }
  }

  &__project {
    width: 35rem;
    color: $color-primary;
    position: relative;
    opacity: 0;

    @include respond(phone-large) {
      margin-bottom: 10rem;
      width: 46%;
    }
    @include respond(phone-big) {
      margin-bottom: 10rem;
      width: 56%;
    }
    @include respond(phone-medium) {
      margin-bottom: 10rem;
      width: 65%;
    }
  }

  &__image {
    display: block;
    margin-bottom: 2rem;
    width: 97%;
  }

  &__project-title {
    display: block;
    margin-bottom: 2rem;

  }

  &__text {
    font-family: 'Objectivity Light', sans-serif;
    font-weight: lighter;
    font-size: 1.7rem;
    line-height: 2rem;
    display: block;
    margin-bottom:  2rem;
  }

  &__buttons {
    display: flex;

    a:first-child {
      display: inline-block;
      margin-right: 3rem;
    }

    @include respond(phone-big) {
      flex-direction: column;
      display: block;
    }
  }

  &__icon {
    font-size: 2rem;
    margin-bottom: -4.5px;
    display: inline-block;
    margin-right: 2px;
  }
}

/************************************/
/*            CONTACT
*************************************/

.contact {
  width: 100%;
  height: auto;
  padding: 15rem 0;
  background-color: $color-primary;
  color: $color-white;
  @include respond(smaller-desktop) {
    padding: 12rem 0;
  }
  

  &__heading {
    font-size: 7.3rem;
    font-weight: 600;
    font-family: 'Prompt', sans-serif!important;
    line-height: 1;
    @include respond(smaller-desktop) {
      font-size: 6.8rem;
    }
  }

  &__details {
    margin-top: 5rem;
    font-size: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
    font-size: 3rem;
    @include respond(smaller-desktop) {
      font-size: 2.5rem;
    }

    ion-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 1rem;
      width: 4rem;
      height: 4rem;
    }
  }
}

