.footer {
  display: flex;
  padding-top: 8rem;
  margin-bottom: 8rem;
  

  &__column {
      &:not(:last-child) {
          margin-right: 8rem;
      }

      &:last-child {
          margin-left: auto;
      }
  }

  &__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
  }

  &__list {
      list-style: none;
      font-size: 1.4rem;
      margin-top: 2rem;
      
  }

  &__list-item {
      
      a {
          text-decoration: none;
          color: $color-primary;
      }

      &:not(:last-child) {
          margin-bottom: .8rem;
      }

  }

  &__social {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      width: 4.8rem;
      height: 4.8rem;
      display: inline-block;
  }

  .facebook {
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 36V25.511h3.75l.75-4.495H7.5v-2.997c0-.749.667-1.498 2.25-1.498H12v-4.495c-.389-.058-1.667 0-3.167 0C7.5 12.026 3 14.33 3 18.019v2.997H0v4.495h3V36h4.5z' fill='%2392A0B6'/%3E%3C/svg%3E");
  }

  .twitter {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 16.318c-.837.425-1.814.709-2.79.85 1.046-.637 1.813-1.63 2.232-2.835-.977.567-2.023.993-3.14 1.205a4.965 4.965 0 0 0-5.956-.938c-1.97 1.066-3.011 3.325-2.555 5.545-3.907-.212-7.675-2.055-10.117-5.245a4.885 4.885 0 0 0-.598 3.656 4.817 4.817 0 0 0 2.133 3.007c-.767 0-1.535-.142-2.232-.496.07 2.339 1.674 4.394 3.907 4.89-.698.213-1.465.213-2.233.071.698 2.056 2.582 3.473 4.675 3.544-2.024 1.701-4.745 2.481-7.326 2.056a13.7 13.7 0 0 0 14.666.472c4.577-2.694 7.25-7.797 6.892-13.16.977-.708 1.814-1.559 2.442-2.622' fill='%2392A0B6'/%3E%3C/svg%3E")
  }

  .linkedin {
      background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36 26.101V35h-5.144v-8.303c0-2.086-.744-3.509-2.606-3.509-1.421 0-2.267.96-2.64 1.888-.135.331-.17.793-.17 1.257V35h-5.146s.07-14.062 0-15.52h5.145v2.2c-.01.017-.024.035-.033.05h.033v-.05c.684-1.055 1.905-2.564 4.638-2.564 3.385 0 5.923 2.219 5.923 6.985zM14.912 12C13.152 12 12 13.158 12 14.68c0 1.49 1.118 2.684 2.843 2.684h.035c1.794 0 2.91-1.193 2.91-2.683C17.754 13.158 16.672 12 14.912 12zm-2.606 23h5.143V19.48h-5.143V35z' fill='%2392A0B6'/%3E%3C/svg%3E");
  }

  .youtube {
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.387 16.484c1.011.27 1.888 1.085 2.158 2.102.607 2.51.607 9.36 0 11.803-.27 1.017-1.147 1.831-2.158 2.102-2.495.679-16.32.679-18.748 0-1.012-.271-1.888-1.085-2.158-2.102-.675-2.646-.607-9.225 0-11.803.27-1.017 1.146-1.831 2.158-2.102 2.63-.679 16.455-.61 18.748 0zm-11.665 4.119v7.77l6.019-3.886-6.019-3.884z' fill='%2392A0B6'/%3E%3C/svg%3E");
  }

}

.legal {
  width: 100%;
  border-top: 1px solid #aaaaaa71;
  padding: 4rem 0;
  color: #4b3b3b;
  font-size: 1.3rem;
}