.header {
  background-color: $color-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  padding: 0 15rem;

  &--2 {
    background-color: white!important;
  }

  @include respond(little-desktop) {
    padding: 0 10rem;
  }

  @include respond(tab-port) {
    padding: 0 4rem;
  }

  &__logo {
    width: 12rem;
    height: 10rem;
    margin-top: 2rem;
  }

  &__title {
    color: $color-white;
    letter-spacing: 3px;
    font-size: 1.8rem;
    font-family: 'Exo', sans-serif;
    font-weight: lighter;
   // border-radius: 50%;
    //border: 1px solid $color-white;
    //display: block;
    //height: 8.8rem;
    //width: 8.8rem;
    //padding-top: 2.5rem;
   // padding-left: .5rem;
   // text-align: center;
  }
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  font-family: 'Objectivity Light', sans-serif;
  font-size: 1.65rem;

  @include respond(tab-smaller) {
    width: 48rem;
  }

  @include respond(phone-large) {
    display: none;
}

  &__icon {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    border: 1px solid #d8d8d848;
    z-index: -10;

    &:hover {
      background-color: $color-secondary;
      border: 1px solid $color-secondary;
      color: #fff;
    }

    &:first-child {
      margin-right: 1rem;
    }
    

    & > * {
      width: 2rem;
      height: 2rem;
      display: block;
      margin: 0 auto;
      margin-top: 8px;
    }

    &--github {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 6px!important;
      z-index: 10;
    }



  }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-white;
  }

  &__link:hover,
  &__link:active {
    color: $color-secondary;
  }
  
  &__link--2:link,
  &__link--2:visited {
    text-decoration: none;
    color: $color-primary;
  }

  &__link--2:hover,
  &__link--2:active {
    color: $color-primary-light;
  }
}